In [22]:
import pandas as pd
print(pd.__version__)

2.3.1

In [5]:
import numpy as np

In [6]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [7]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [8]:
record_count = len(df)

In [9]:
print(record_count)

9704

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [10]:
fuel_types_count = df['fuel_type'].nunique()

In [11]:
print(fuel_types_count)

2

In [12]:
number_of_columns_with_missing_values = df.isnull().any().sum()
print(number_of_columns_with_missing_values)

4

In [14]:
max_fuel_efficiency_cars_in_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print(max_fuel_efficiency_cars_in_asia)

23.759122836520497

In [15]:
initial_median_horsepower = df['horsepower'].median()
print(initial_median_horsepower)

149.0

In [16]:
most_frequent_horsepower = df['horsepower'].mode()[0]
print(most_frequent_horsepower)

152.0

In [18]:
df_filled = df.copy()
df_filled['horsepower'] = df_filled['horsepower'].fillna(most_frequent_horsepower)

In [19]:
new_median_horsepower = df_filled['horsepower'].median()
print(new_median_horsepower)

152.0

In [20]:
median_changed = initial_median_horsepower != new_median_horsepower
median_changed

np.True_

In [21]:
asia_cars = df[df['origin'] == 'Asia']
asia_cars_selected = asia_cars[['vehicle_weight', 'model_year']]
asia_cars_first7 = asia_cars_selected.head(7)
X = asia_cars_first7.values
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = (XTX_inv @ X.T) @ y
sum_w = np.sum(w)
print(sum_w)

0.5187709081074016